In [2]:
import yfinance as yf

In [3]:
import pandas as pd

In [5]:
#create Pandas Series for Gold and Nifty Prices 
gold=yf.Ticker("GLD").history(start='2023-03-13',end='2023-04-13')
gold

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2023-03-13 00:00:00-04:00,176.660004,178.020004,176.300003,177.860001,20554400,0.0,0.0,0.0
2023-03-14 00:00:00-04:00,177.350006,177.589996,176.210007,176.830002,10019000,0.0,0.0,0.0
2023-03-15 00:00:00-04:00,178.860001,180.130005,177.490005,178.210007,14546100,0.0,0.0,0.0
2023-03-16 00:00:00-04:00,179.509995,179.649994,177.869995,178.570007,10762200,0.0,0.0,0.0
2023-03-17 00:00:00-04:00,181.020004,184.809998,180.770004,183.770004,24156300,0.0,0.0,0.0
2023-03-20 00:00:00-04:00,184.190002,184.539993,182.740005,183.839996,11845700,0.0,0.0,0.0
2023-03-21 00:00:00-04:00,182.649994,182.729996,179.899994,180.369995,10734500,0.0,0.0,0.0
2023-03-22 00:00:00-04:00,180.399994,183.940002,180.279999,183.440002,11969600,0.0,0.0,0.0
2023-03-23 00:00:00-04:00,183.910004,186.240005,183.600006,185.740005,11347100,0.0,0.0,0.0
2023-03-24 00:00:00-04:00,185.610001,185.990005,183.619995,183.649994,9245900,0.0,0.0,0.0
2023-03-27 00:00:00-04:00,181.149994,182.149994,180.690002,181.949997,6925000,0.0,0.0,0.0
2023-03-28 00:00:00-04:00,182.309998,183.619995,182.119995,183.440002,6202600,0.0,0.0,0.0
2023-03-29 00:00:00-04:00,182.490005,183.270004,182.240005,182.529999,4996500,0.0,0.0,0.0
2023-03-30 00:00:00-04:00,182.750000,184.440002,182.550003,184.179993,6360300,0.0,0.0,0.0
2023-03-31 00:00:00-04:00,184.110001,184.419998,182.800003,183.220001,8003300,0.0,0.0,0.0
2023-04-03 00:00:00-04:00,183.850006,185.039993,183.320007,184.539993,9206600,0.0,0.0,0.0
2023-04-04 00:00:00-04:00,184.720001,188.229996,184.660004,187.979996,13765400,0.0,0.0,0.0
2023-04-05 00:00:00-04:00,188.339996,188.860001,186.779999,187.830002,11440800,0.0,0.0,0.0
2023-04-06 00:00:00-04:00,186.889999,187.259995,185.949997,186.490005,6648400,0.0,0.0,0.0
2023-04-10 00:00:00-04:00,185.179993,185.360001,184.190002,185.110001,6408100,0.0,0.0,0.0
2023-04-11 00:00:00-04:00,185.910004,186.509995,185.639999,186.279999,6031500,0.0,0.0,0.0
2023-04-12 00:00:00-04:00,187.539993,187.660004,185.970001,187.190002,10000900,0.0,0.0,0.0

In [7]:
nifty=yf.Ticker("^NSEI").history(start='2023-03-13',end='2023-04-13')
nifty

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-03-13 00:00:00+05:30,17421.900391,17529.900391,17113.449219,17154.300781,254900,0.0,0.0
2023-03-14 00:00:00+05:30,17160.550781,17224.650391,16987.099609,17043.300781,290600,0.0,0.0
2023-03-15 00:00:00+05:30,17166.449219,17211.349609,16938.900391,16972.150391,248200,0.0,0.0
2023-03-16 00:00:00+05:30,16994.650391,17062.449219,16850.150391,16985.599609,349800,0.0,0.0
2023-03-17 00:00:00+05:30,17111.800781,17145.800781,16958.150391,17100.050781,408100,0.0,0.0
2023-03-20 00:00:00+05:30,17066.599609,17066.599609,16828.349609,16988.400391,241800,0.0,0.0
2023-03-21 00:00:00+05:30,17060.400391,17127.699219,17016.000000,17107.500000,246700,0.0,0.0
2023-03-22 00:00:00+05:30,17177.449219,17207.250000,17107.849609,17151.900391,0,0.0,0.0
2023-03-23 00:00:00+05:30,17097.400391,17205.400391,17045.300781,17076.900391,219200,0.0,0.0
2023-03-24 00:00:00+05:30,17076.199219,17109.449219,16917.349609,16945.050781,228000,0.0,0.0
2023-03-27 00:00:00+05:30,16984.300781,17091.000000,16918.550781,16985.699219,218400,0.0,0.0
2023-03-28 00:00:00+05:30,17031.750000,17061.750000,16913.750000,16951.699219,238800,0.0,0.0
2023-03-29 00:00:00+05:30,16977.300781,17126.150391,16940.599609,17080.699219,345900,0.0,0.0
2023-03-31 00:00:00+05:30,17210.349609,17381.599609,17204.650391,17359.750000,263900,0.0,0.0
2023-04-03 00:00:00+05:30,17427.949219,17428.050781,17312.750000,17398.050781,230200,0.0,0.0
2023-04-05 00:00:00+05:30,17422.300781,17570.550781,17402.699219,17557.050781,248300,0.0,0.0
2023-04-06 00:00:00+05:30,17533.849609,17638.699219,17502.849609,17599.150391,242700,0.0,0.0
2023-04-10 00:00:00+05:30,17634.900391,17694.099609,17597.949219,17624.050781,254800,0.0,0.0
2023-04-11 00:00:00+05:30,17704.800781,17748.750000,17655.150391,17722.300781,304300,0.0,0.0
2023-04-12 00:00:00+05:30,17759.550781,17825.750000,17717.250000,17812.400391,232800,0.0,0.0

In [11]:
# Print the first 5 prices for each and their data types
print("first five gold prices:")
print(gold.head(5))
print("datatype:", type(gold))

first five gold prices:
                                 Open        High         Low       Close  \
Date
2023-03-13 00:00:00-04:00  176.660004  178.020004  176.300003  177.860001
2023-03-14 00:00:00-04:00  177.350006  177.589996  176.210007  176.830002
2023-03-15 00:00:00-04:00  178.860001  180.130005  177.490005  178.210007
2023-03-16 00:00:00-04:00  179.509995  179.649994  177.869995  178.570007
2023-03-17 00:00:00-04:00  181.020004  184.809998  180.770004  183.770004

                             Volume  Dividends  Stock Splits  Capital Gains
Date
2023-03-13 00:00:00-04:00  20554400        0.0           0.0            0.0
2023-03-14 00:00:00-04:00  10019000        0.0           0.0            0.0
2023-03-15 00:00:00-04:00  14546100        0.0           0.0            0.0
2023-03-16 00:00:00-04:00  10762200        0.0           0.0            0.0
2023-03-17 00:00:00-04:00  24156300        0.0           0.0            0.0
datatype: <class 'pandas.core.frame.DataFrame'>

In [12]:
print("first five nifty prices:")
print(nifty.head(5))
print("datatype:", type(nifty))

first five nifty prices:
                                   Open          High           Low  \
Date
2023-03-13 00:00:00+05:30  17421.900391  17529.900391  17113.449219
2023-03-14 00:00:00+05:30  17160.550781  17224.650391  16987.099609
2023-03-15 00:00:00+05:30  17166.449219  17211.349609  16938.900391
2023-03-16 00:00:00+05:30  16994.650391  17062.449219  16850.150391
2023-03-17 00:00:00+05:30  17111.800781  17145.800781  16958.150391

                                  Close  Volume  Dividends  Stock Splits
Date
2023-03-13 00:00:00+05:30  17154.300781  254900        0.0           0.0
2023-03-14 00:00:00+05:30  17043.300781  290600        0.0           0.0
2023-03-15 00:00:00+05:30  16972.150391  248200        0.0           0.0
2023-03-16 00:00:00+05:30  16985.599609  349800        0.0           0.0
2023-03-17 00:00:00+05:30  17100.050781  408100        0.0           0.0
datatype: <class 'pandas.core.frame.DataFrame'>

In [31]:
#check lenths and align byt dates
print("lenth before aligning:")
print("gold:", len(gold))
print("nifty:", len(nifty))
dates=gold.index.intersection(nifty.index)
gold_aligned=gold.loc[dates]
nifty_aligned=nifty.loc[dates]
print("length after aligning:")
print("gold", len(gold_aligned))
print("nifty", len(nifty_aligned))

lenth before aligning:
gold: 22
nifty: 20
length after aligning:
gold 0
nifty 0

In [25]:
#Compute daily percentage returns for Nifty prices
nifty_percentage=nifty_aligned.pct_change()*100
print("NIFTY daily percemtage for first five:")
print(nifty_percentage.dropna().head(5))

NIFTY daily percemtage for first five:
Empty DataFrame
Columns: [Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

In [33]:
#correlation between gold and NIFTY
combined_df=pd.concat([gold_aligned,nifty_aligned],axis=1)
Correlation=combined_df.corr().iloc[0,1]
print("Correlation between gold and nifty is",Correlation)

Correlation between gold and nifty is nan